/*  Boton - Menu de Aldeas  */
.contenedorBtn{
    width: 200px;
    height: 200px;
    background-color: #1a5b6688;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    border-top-left-radius: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-name: example;
    animation-duration: 200ms;
    box-shadow: 0px 2px 5px #0a1a1de1;
}
.btnAldeaIndividual{
    width: 40px;
    height: 40px;
    background-color: rgb(190, 207, 211);
    position: absolute;
    margin: 20px;
    border-radius: 100%;
    text-align: center;
    padding-bottom: 5px;
    border: 0px;
    box-shadow: 0px 2px 5px #0a1a1de1;
}
.imgBtn{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ab/Simbolo_konoha.svg");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
}
.btnMenu{
    border: 0px;
    bottom: 0;
    right: 0;
}
.btnUno{
    top: 0;
    right: 0;
}
.btnDos{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    right: 50px;
}
.btnTres{
    bottom: 0;
    left: 0;
}
.btnCuatro{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    left: 30px;
}

@keyframes example{
    0% {width: 0px; margin-right: 40px; transform: scale(.2); opacity: 0;}
    40% { opacity: .0;}
    70% { opacity: .3;}
    100% {width: 200px;opacity: 1;}
}


/*  Boton - Menu regerar a la pagina principal  */
