.itemsBox > *{
    vertical-align: middle;
    overflow-x: hidden scroll;
}

.itemsColumn::-webkit-scrollbar{
    display: none;
}
/*Ocultar scroll para IE, Edge y Firefox*/
.itemsColumn{
    -ms-overflow-style: none;
    scrollbar-width: none;
}