@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.menuSide{
    width: 50px;
    height: 100%;
    background: #0a1a1d;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 10px solid #0a1a1d;
    transition: 300ms;
}

/*Ocultar scroll para chrome, safari y opera*/
.menuSide::-webkit-scrollbar{
    display: none;
}
/*Ocultar scroll para IE, Edge y Firefox*/
.menuSide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menuBody{
    padding: 0px 0px;
    position: absolute;
    top: 80px;
}
.menuBody a{
    margin: 0;
    padding: 0px 0px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff94;
    font-family: 'Fira Code', monospace;
    transition: all 300ms;
}
.menuBody i{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 25px;
    
    cursor: default;
}

.menuSide:hover{
    width: 210px;
    height: 100%;
    background: #0a1a1d;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    transition: 300ms;
}
.menuBody:hover a{
    color: rgba(255, 255, 255, 0.58);
    display: block;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    transition: color 300ms;
}
.menuBody:hover a:hover{
    color: #fff;
}

.menuBody .option{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}
.menuBody .option h4{
    cursor: pointer;
}

a.selected{
    color: #fff;
}
a.selected i{
    filter: invert() opacity(100%);
}

.selected:before{
    content: '';
    width: 2px;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom: 10px;
    
}


.icon{
    content: '';
    background-repeat: no-repeat;
    background-position: right;
    color: rgba(255, 255, 255, 0);
    margin: 0px;
    filter: invert() opacity(58%);
    transition: 300ms;
}


.icon{
    background-image: url("../../../../../resources/media/icons/dummy.png");
    background-size: 50%;
    
}

.icon_menu{
    background-image: url("../../../../../resources/media/icons/homepage.png");
    background-size: 20px;
}

